## Sent whenever a timesheet is updated
<html>
   <body>
      <h3>Timesheet updated</h3>
      <p>User ${timesheet.consultant.accountName} has updated one of their timesheets.</p>
      <p>Image attached. Should be equivalent to the following image:</p>
      <p><img src="cid:inlineImage"/></p>
   </body>
</html>